@import url('https://fonts.googleapis.com/css2?family=Padauk&display=swap');

@font-face {
  font-family: 'Test Domaine Text';
  src: url("fonts/testdomaine.otf") format("otf"),
  			url("fonts/test-domaine-text-regular.woff") format("woff");
}


@font-face {
  font-family: 'GT Flexa', sans-serif;
  src: url("fonts/flexa.otf") format("otf"),
  			url("fonts/flexa-Regular.woff2") format("woff2");

}
/* width */
::-webkit-scrollbar {
  width: 13px;
  border-left: 2px solid #000;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0px black;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white;
}

.img-fluid {
  max-width: 40%;
  max-height: 100%;
  height: auto;
	display: block;
  margin-left: -1em;
  padding-top: 3em;
}

body{
    background-color: #D4C9C9;
}

.menu ul {
	list-style-type: none;
	justify-content:left;
	display:flex;
}

.menu li {
	text-align:left;
  margin-left: 2.3em;
}

.menu a {
  color: black;
	text-decoration: none;
	display: block;
	padding: 0.2em;
}

.menu li:hover {
  color:#505DF8;
	text-decoration: underline;
  filter: blur(1px);
  transition: all 0.4s ease-in;
}

.menu2 nav{
  text-align: right;
  margin-left: 2.3em;
}

.menu2 ul {
	list-style-type: none;
	justify-content:flex-end;
	display:flex;
  margin-right: 4em;
}

.menu2 li {
	text-align:right;
  margin-left: 2.3em;
}

.menu2 a {
  color: black;
	text-decoration: none;
	display: block;
	padding: 0.2em;
}

.menu2 li:hover {
  color:#505DF8;
	text-decoration: underline;
  filter: blur(1px);
  transition: all 0.4s ease-in;
}



p{
	line-height: 1.5em;
  font-family: 'Test Domaine Text', serif;
  font-size: 16px;
  line-height: 1.7;
}

.liste {
  font-family: 'GT Flexa Trial', sans-serif;
  font-size: 14px;
}

header {
display: grid;
grid-template-columns: repeat(2, 1fr);
font-family: 'GT Flexa Trial', sans-serif;
}

.botonmenu ul {
	list-style-type: none;
  align-items:center;
	justify-content:space-between;
  margin-right: 1em;
  margin-left: -1.3em;
	display:flex;
}

.botonmenu a {
	color:black;
	text-decoration: none;
	display: block;
}

.botonmenu a:hover {
  filter: blur(1px);
  transition: all 0.2s ease-in;
}

.botonmenu a:hover {
  filter: blur(1px);
  transition: all 0.2s ease-in;
}

.me{
  	display:flex;
}

@media screen and (max-width: 800px) {
  .me{
  display:block;
      padding-bottom: 4em;
}
.img-fluid {
  max-width: 80%;
  height: auto;
	padding:1em;
	display: block;
margin-left: auto;
margin-right: auto
}

}

@media screen and (max-width: 800px) {
  header {
  border-bottom: 2px solid #000;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  font-family: 'GT Flexa Trial', sans-serif;
  }
}


h1{
  font-family: 'GT Flexa Trial', sans-serif;
  font-size: 48px;
  text-align: left;
  font-weight: 300;
}

h2{
  font-family: 'GT Flexa Trial', sans-serif;
    font-size: 18px;
    text-align: left;
}

.description{
    margin-left: 2em;
    margin-right: 10%;
}

svg{
  padding-bottom: 3em;
  max-width: 40px;
  -webkit-animation-name: star;
      -webkit-animation-duration: 4000ms;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
      -moz-animation-name: star;
      -moz-animation-duration: 4000ms;
      -moz-animation-iteration-count: infinite;
      -moz-animation-timing-function: linear;
      -ms-animation-name: star;
      -ms-animation-duration: 4000ms;
      -ms-animation-iteration-count: infinite;
      -ms-animation-timing-function: linear;

      animation-name: star;
      animation-duration: 4000ms;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
  }

  @-ms-keyframes star {
      from { -ms-transform: rotate(0deg); }
      to { -ms-transform: rotate(360deg); }
  }
  @-moz-keyframes star {
      from { -moz-transform: rotate(0deg); }
      to { -moz-transform: rotate(360deg); }
  }
  @-webkit-keyframes star {
      from { -webkit-transform: rotate(0deg); }
      to { -webkit-transform: rotate(360deg); }
  }
  @keyframes star {
      from {
          transform:rotate(0deg);
      }
      to {
          transform:rotate(360deg);
      }
  }
