@import url('https://fonts.googleapis.com/css2?family=Padauk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@500&display=swap');

@font-face {
  font-family: 'Test Domaine Text';
  src: url("fonts/testdomaine.otf") format("otf"),
  			url("fonts/test-domaine-text-regular.woff") format("woff");
}


@font-face {
  font-family: 'GT Flexa', sans-serif;
  src: url("fonts/flexa.otf") format("otf"),
  			url("fonts/flexa-Regular.woff2") format("woff2");

}

*,
*::after,
*::before {
	box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 13px;
  border-left: 2px solid #fff;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0px black;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:horizontal {
  background-color: transparent
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #D4C9C9;
}

:root {
	font-size: 14px;
}

body {
	--color-text: white;
  --color-title: black;
	--color-link: #000;
	--color-link-hover: #fff;
	--aspect-ratio: 1/1.5;
	--imgwidthmax: 500px;
	--size-title: 10rem;
	--font-weight-title: 400;
	color: var(--color-text);
	background-color: #121212;
	font-family: turquoise, serif;
	font-size: 1.5rem;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


header {
padding: 0.5em;
font-family: 'GT Flexa Trial', sans-serif;
position: absolute;
z-index: 10;
width: 99%;
}


#logo:hover, #about:hover, #mail:hover, #insta:hover, #archives:hover{
	color:#D4C9C9;
	text-decoration: underline;
  filter: blur(1px);
  transition: all 0.4s ease-in;
}

.menu{
	display: grid;
  grid-template-columns: 17% 10% auto 10% 10% 10%;
	grid-gap: 40px;
	padding: 0.2em;
}

#logo{
	padding: 0.2em;
	grid-column-start: 1;
}

#archives{
	grid-column-start:2 ;

}

#about{
grid-column-start:4 ;
margin-right: auto;
margin-left: 0;
}

#mail{
	margin-right: auto;
	margin-left: 0.5em;
}



@media screen and (max-width: 800px) {

	.menu{
		display: grid;
	  grid-template-columns: repeat(2, 1fr);
		grid-gap: 0px;
		padding: 0em;
		font-size: 16px;
	}

	#logo{
		padding: 0.2em;
		grid-column-start: 1;
		grid-column-end: 2;
		text-align: left;
	}

	#archives{
		grid-column-start:1 ;


	}

	#about{
	grid-column-start:3 ;
	padding: 0.2em;
	text-align: right;
	margin-right: 0;
	padding-right: 1em;
}

#mail{
	grid-column-start:3 ;
text-align: right;
	padding-top: 0.2em;
	margin-right: 0;
	padding-right: 1em;
}

#insta{
		grid-column-start:3 ;
text-align: right;
	padding-top: 0.2em;
	margin-right: 0;
	padding-right: 1em;
}


	}



  header {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
	font-family: 'GT Flexa Trial', sans-serif;
}

.marquee {
		width: 0%; }

}


.img-fluid {
  max-width: 100%;
  height: auto;
	padding:1em;
	display: block;
	margin-left: auto;
	margin-right: auto
}

footer{
position:fixed;
bottom:0;
left:0;
height:40px;
background: black;
width: 100%;
opacity: 80%;
border-top: 2px solid #fff;
padding-bottom: 0.5em;
font-family: 'Cormorant Garamond', serif;

text-align: center;
padding-top: 0.5em;
}

.text-inline{
font-family: 'Cormorant Garamond', serif;}

.marquee {
  margin: 0 auto;
  width: 100%;
  height: 30px;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
}

.marquee:before, .marquee:after {
    position: absolute;
    top: 0;
    width: 50px;
    height: 30px;
    content: "";
    z-index: 1;
  }

.marquee__content {
  width: 300% !important;
  display: flex;
  line-height: 30px;
  animation: marquee 30s linear infinite forwards;
}

.marquee__content:hover {
	animation-play-state: paused;
}

.text-inline {
  display: flex;
  justify-content: space-around;
  width: 33.33%;

  /* reset text */
  text-style: none;
  padding: 0;
  margin: 0;
}
@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-66.6%); }
}

.container{
padding: 0 38px;
}

/*a5a8a1
rgb(136, 169, 189)
*/


.demo-1 {
	--color-bg: #121212;
	--color-link: white;
	--color-link-hover: #C6B3B3;
	--aspect-ratio:27/17;
	font-size: 1.15rem;
  font-family: 'Test Domaine Text', serif;
	font-weight: 400;
	--size-title: 9.2vw;
}


@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
}

main{
	margin-top: 0px;
	line-height: 1.75em;
}

a:hover,
a:focus {
	color: var(--color-link-hover);
	outline: none;
}

.page {
	display: grid;
	padding: 5vw;
	max-width: 1400px;
	margin: 0 auto;
	grid-template-columns: 100%;
	grid-template-areas: 'header' 'meta' 'grid';
	will-change: transform;
}

.page__title {
	grid-area: header;
	margin: 0 0 1rem;
	font-size: inherit;
	font-weight: 400;
}

.credits {
	text-align: center;
}

.credits--fixed {
	position: fixed;
	bottom: 5vw;
	margin: 0;
	left: 5vw;
	width: 90vw;
	text-align: right;
}

.credits--fixed::before {
	content: '';
	background: currentColor;
	position: absolute;
	left: 0;
	bottom: 0;
	height: 5rem;
	width: 1px;
}

.meta {
	grid-area: meta;
}

.meta--center {
	justify-self: left;
	padding-top: 20vh;
}

.meta__links {
	display: flex;
	flex-wrap: wrap;
	line-height: 1.5;
}

.meta__links--column {
	flex-direction: column;
}

.meta__links a {
	margin: 0 0rem 0 0;
}

.meta__demos {
	margin-top: 0rem;
	text-align: right;
}

.meta__demo {
	display: inline-block;
	margin-right: 1rem;
}

.meta__demo--current {
	color: var(--color-link-hover);
	pointer-events: none;
}

.content {
	grid-area: grid;
	margin: 25vh 0 3vh;
}

.content--offset {
	display: grid;
	grid-template-columns: repeat(2, minmax(100px, 1fr));
	grid-gap: 30vh 10vw;
}

.content--full {
	width: 100vw;
	justify-self: center;
}

.content--padded {
	padding: 0 10vw;
}

.content__item {
	--imgwidth: calc(var(--imgwidthmax) * var(--aspect-ratio));
	width: var(--imgwidth);
	max-width: 100%;
	position: relative;
	will-change: transform;
	margin-bottom: 20vh;
	display: grid;
	grid-template-columns: 50% 50%;
}

.content__item--wide {
	grid-template-columns: 40% 60%;
}

.content__item--wide:nth-child(even) {
	grid-template-columns: 70% 30%;
}

.content--center .content__item {
	margin: 0 auto 60vh;
}

.content__item--expand {
	width: 100%;
	grid-template-columns: minmax(0, var(--imgwidth)) 1fr;
}

.content__item--expand:nth-child(even) {
	grid-template-columns: 1fr minmax(0, var(--imgwidth));
}

.content--alternate .content__item {
	max-width: 90vw;
}

.content--offset .content__item {
	margin: 0 auto 15vh;
}

.content--offset .content__item:nth-child(even) {
	align-self: end;
	margin-bottom: -20vh;
}

.content--alternate .content__item:nth-child(even) {
	margin-left: auto;
}

.content__item-imgwrap {
	position: relative;
	--imgwidth: 100%;
	margin: 0 auto;
	grid-area: 1 / 1 / 3 / 3;
	overflow: hidden;
	width: var(--imgwidth);
	padding-bottom: calc(var(--imgwidth) / (var(--aspect-ratio)));
	will-change: transform;
}

.content__item-imgwrap img{
	display: block;
}

.demo-2 .content__item-imgwrap {
	outline: 1px solid transparent;
}

.content__item--expand .content__item-imgwrap {
	grid-area: 1 / 1 / 3 / 2;
}

.content__item--expand:nth-child(even) .content__item-imgwrap {
	grid-area: 1 / 2 / 3 / 3;
	justify-self: end;
}

.content__item-img {
	--overflow: 40px;
	height: calc(100% + (2 * var(--overflow)));
	top: calc( -1 * var(--overflow));
	width: 100%;
	position: absolute;
	background-size: cover;
	background-position: 50% 0%;
	will-change: transform;
}

.content__item-img--t1 {
	--overflow: 60px;
}

.content__item-img--t2 {
	--overflow: 80px;
}

.content__item-img--t3 {
	--overflow: 120px;
}

.content__item:nth-child(even) .content__item-number {
	right: auto;
	left: -7vw;
}

.content__item-title {
	position: relative;
	font-size: 54px;
	padding: 0 3vw;
	margin: calc(var(--size-title) * -1/2) 0 0 0;
	align-self: start;
	line-height: 1;
font-family: 'Cormorant Garamond', serif;
	font-weight: 500;
	color: white;
	will-change: transform;
}



.content__item-description {
	grid-area: 3 / 1 / 3 / 3;
	width: 70%;
	position: relative;
	margin: 0;
	padding: 1rem 0 0 0;
	color: var(--color-description);
}

.content--alternate .content__item-title,
.content__item--wide:nth-child(even) .content__item-description {
	grid-area: 3 / 1 / 4 / 2;
	justify-self: start;
}

.content--alternate  .content__item:nth-child(even) .content__item-title,
.content__item--wide .content__item-description {
	grid-area: 3 / 2 / 4 / 3;
	justify-self: end;
	width: auto;
}

.content__item--expand .content__item-description {
	grid-area: 1 / 2 / 3 / 3;
    justify-self: start;
    align-self: start;
    padding: 0 2rem;
    width: 250px;
    font-size: 0.9rem;
}

.content__item--expand:nth-child(even) .content__item-description {
	grid-area: 1 / 1 / 3 / 2;
	justify-self: end;
	text-align: right;
}

.content__item-deco {
	position: absolute;
	top: 2rem;
	left: 10vw;
	height: 30%;
	width: 1px;
	background: #d79612;
}

@media screen and (min-width: 53em) {
	.page--layout-1 {
		grid-template-columns: 30% 70%;
		grid-template-areas: 'header header' '...  meta' 'grid grid';
	}
	.page--layout-2 {
		grid-template-columns: 1fr 1fr;
		grid-template-areas: 'header meta' '...  meta' 'grid grid';
	}
}

@media screen and (max-width: 40em) {
	.content__item--expand .content__item-imgwrap,
	.content__item--expand:nth-child(even) .content__item-imgwrap {
		grid-area: 1 / 1 / 3 / 3;
	}
	.content__item--expand .content__item-description,
	.content__item--expand:nth-child(even) .content__item-description,
	.content__item--wide .content__item-description,
	.content__item--wide:nth-child(even) .content__item-description {
		grid-area: 3 / 1 / 4 / 3;
	    padding: 1rem 0;
	    width: 100%;
	    text-align: left;
	}
	.content__item--wide .content__item-description {
		padding: 1rem;
	}
	.content--alternate .content__item-title,
	.content--alternate .content__item:nth-child(even) .content__item-title {
		grid-area: 1 / 1 / 4 / 2;
	}
}


button{
	display: block;
  position: absolute;
	text-align: center;
  color:white;
	background-color: black;
  cursor: pointer;
  border: 0.7px solid #FFFFFF;
	padding: 0.7em;
	left:45%;
	margin-top: 4em;
}

button:hover{
  filter: blur(1px);
	transition: all 0.5s ease-in;
}

.text{
padding-top: 30%;
}


#archives{
	cursor: pointer;
	padding: 0.2em;
	margin-left: auto;
	margin-right: auto;
}

#nav a:hover{
	font-style: italic;
	color: white;
}

.nav {
 grid-column-start:2 ;
  transform: translateY(-200%);
  transition: all 0.4s ease-in;
}

  .nav.active {
		grid-column-start:2 ;
		margin-right: auto;
		margin-left: auto;
		transform: translateY(0);
		transition: all 0.4s ease-in;
  }


  .nav__list {
    display: flex;
    flex-flow: column;
		text-align: center;
    justify-content: right;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;}

    .nav__list__item {}
      .nav__list__item:not(:last-child) {
        margin-bottom: 10px;
      }


			.content__item-imgwrap:hover{

			}



			@media screen and (max-width: 1000px) {

        #archives{
        	margin-left: 0;
        	margin-right: auto;
        }

				.nav__list {
					text-align: left;
					justify-content: center;}


				.nav {
				 grid-column-start:1 ;
				  transform: translateY(-200%);
				  transition: all 0.4s ease-in;
				}

				  .nav.active {
						grid-column-start:1 ;
						margin-right: auto;
						margin-left: 0;
						transform: translateY(0);
						transition: all 0.4s ease-in;
				  }

					.content--alternate .content__item {
						max-width: 87vw;
					}
					.content--alternate  .content__item:nth-child(even) .content__item-title,
					.content__item--wide .content__item-description {
						grid-area: 3 / 2 / 4 / 3;
						justify-self: end;
						width: auto;
					}

					.content--alternate .content__item-title,
					.content__item--wide:nth-child(even) .content__item-description {
						grid-area: 3 / 1 / 4 / 2;
						justify-self: start;
					}

.content__item-title {
	font-size: 25px;
}

.content__item--wide:nth-child(even) {
	grid-template-columns: 70% 30%;
}

				}

        @media screen and (min-width : 800px){
          .nav {
           grid-column-start:2 ;
           text-align: center;
          }

            .nav.active {
          		grid-column-start:2 ;
              text-align: center;
            }
        }

        @media screen and (min-width: 1500px) {

          .content__item-title {
            font-size: 85px;
          }

          body {
            --imgwidthmax: 600px;
          }

          .demo-1 {
            font-size: 1.45rem;

          }

          .content__item--wide {
            grid-template-columns: 50% 50%;
          }

          .content__item--wide:nth-child(even) {
            grid-template-columns: 70% 30%;
          }

          main{
            line-height: 1.85em;
          }

          .content {
            margin: 10vh 0 3vh;
          }

          .content__item {
            margin-bottom: 15vh;

}

        @media screen and (min-width: 2000px) {

          .content__item-title {
          	font-size: 115px;
          }

          .menu{
            grid-template-columns: 14% 10% auto 10% 10% 10%;
          }

          body {
          	--imgwidthmax: 850px;
          }

          .demo-1 {
          	font-size: 1.65rem;
          }

          .content__item--wide {
          	grid-template-columns: 50% 50%;
          }

          .content__item--wide:nth-child(even) {
          	grid-template-columns: 60% 40%;
          }

          main{
          	line-height: 1.85em;
          }

          .content {
          	margin: 10vh 0 3vh;
          }

          .content__item {
          	margin-bottom: 15vh;
          }




}
